name: Autograde R Assignment

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      PRIVATE_PAT: ${{ secrets.PRIVATE_PACKAGES_TOKEN }} 
    steps:
      - name: Checkout student code
        uses: actions/checkout@v3
        
      - name: Checkout private tests
        uses: actions/checkout@v3
        with:
          repository: r-classes-2025/pca-grading-tests
          token: ${{ secrets.TEST_REPO_TOKEN }}  
          path: private-tests
          
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.3'
          
      - name: Cache R packages
        uses: actions/cache@v3
        id: cache-r-packages
        with:
          path: |
            ~/R/library
            /usr/local/lib/R/site-library
            /usr/lib/R/site-library
          key: ${{ runner.os }}-r-${{ hashFiles('**/DESCRIPTION', '**/.github/pkg.lock') }}
          restore-keys: |
            ${{ runner.os }}-r-
            
      - name: Cache CRAN packages
        uses: actions/cache@v3
        with:
          path: /tmp/downloaded_packages
          key: ${{ runner.os }}-cran-${{ hashFiles('**/DESCRIPTION') }}
          restore-keys: |
            ${{ runner.os }}-cran-
        
      - name: Install R package dependencies
        if: steps.cache-r-packages.outputs.cache-hit != 'true'
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
         cache: true
         cache-version: '3' 
         extra-packages: |
          friends
          tibble
          dplyr
          stringr
          tidyr
          tidytext
          testthat
          factoextra
          remotes
          
      - name: Cache GitHub packages
        uses: actions/cache@v3
        id: cache-gh-packages
        with:
          path: ~/.cache/R/remotes
          key: ${{ runner.os }}-gh-packages-${{ hashFiles('**/.github/workflows/*.yml') }}
          
      - name: Install ggcheck from GitHub
        if: steps.cache-gh-packages.outputs.cache-hit != 'true'
        run: |
          Rscript -e "remotes::install_github('rstudio/ggcheck', upgrade = 'never')" 
          
      - name: Run tests
        run: Rscript private-tests/run_tests.R
    